﻿body 
{
	font-family: Segoe UI, Sans-Serif;
	font-size: 11pt;
	font-weight: normal;
	margin: 0px;
}

#header_bkgd
{
	background: url(/admin/images/banner_bkgd.png) repeat left top;
	height: 120px;
}

#header_image
{
    background: url(/admin/images/banner_logo.png) no-repeat left top;
	height: 120px;
}

#header_nav
{
    margin-top: 96px;
    margin-left: 20px;
}

#content 
{
    margin: 8px;
}

#timerDiv
{
    display: none;
    font-size: 9pt;
    margin-top: 8px;
}

#timerSpan
{
    display: block;
    width: 50px;
    color: #CC0000;
    background: #333333;
    font-size:12pt;
    font-weight: 700;
    padding: 2px;
    text-align: right;
}

#infoTable
{
    display: block;
}

h1 
{
    font-size: 14pt;
    font-weight: 800;
}

.bluePanel 
{
    margin: 10px;
    background-color: #CCE1F7;
    padding: 6px;
}

.rowCount 
{
    font-size: 14pt;
    font-weight: 700;
    color: #660000;
}

.miniLabel 
{
    font-size: 9pt;
    font-weight: normal;
}

.miniData 
{
    margin-left: 8px;
    font-size: 9pt;
    font-weight: 700;
    color: #333399;
}

.btnRight 
{
    float: right;
}

a.nav 
{
    color: #CCCCCC;
    font-weight: 700;
    font-size: 10pt;
    text-decoration: none;
}

a.nav.visited
{
    color: #CCCCCC;
    text-decoration: none;
}

a.nav.hover 
{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 10pt;
    text-decoration: underline;
}

a.miniLink 
{
    color: #333333;
    font-weight: 700;
    font-size: 9pt;
}

a.miniLink.visited
{
    color: #333333;
}

a.miniLink.hover 
{
    color: #666666;
}


