﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Microsoft.AirWatch.AdminConsole.Admin.Site" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Eye on Earth admin console</title>
    <link href="/admin/default.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        function bodyOnLoad() {
            if ((typeof (contentLoad)) != 'undefined') {
                contentLoad();
            }
        }
    </script>
<%--    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>--%>
</head>
<body onload="bodyOnLoad();">
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server" AsyncPostBackTimeout="36000" >
    </asp:ScriptManager>
    <div id="header_bkgd">
        <div id="header_image">
            <div id="header_title">
                <asp:ContentPlaceHolder ID="titleContent" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <div id="header_nav">
            <a class="nav" href="TableStorageConsole.aspx">Sms console</a> &nbsp;
            <a class="nav" href="LanguagesUserInterfaceConsole.aspx">UI Languages</a> &nbsp;
             <a class="nav" href="CertificateConsole.aspx">Data entry certificates</a> &nbsp;
            </div>
        </div>
    </div>
    <div id="content">
        <asp:ContentPlaceHolder ID="mainContent" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
