﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Disclaimer.aspx.cs" Inherits="AirWatch.CloudService.WebRole.Disclaimer" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h1><%= AirWatch.CloudService.WebRole.LocalizationHelper.Instance.LocalizeString("MAINPAGE_DISCLAIMER", Request.QueryString.Get("culture"))%></h1>
        <div>
        <%= AirWatch.CloudService.WebRole.LocalizationHelper.Instance.LocalizeString("MAINPAGE_DISCLAIMER_TEXT", Request.QueryString.Get("culture"))%>
        </div>    
        <h1><%= AirWatch.CloudService.WebRole.LocalizationHelper.Instance.LocalizeString("MAINPAGE_DISCLAIMER_SMS", Request.QueryString.Get("culture"))%></h1>
        <div>
        <%= AirWatch.CloudService.WebRole.LocalizationHelper.Instance.LocalizeString("MAINPAGE_DISCLAIMER_SMS_TEXT", Request.QueryString.Get("culture"))%>
        </div> 
    </div>
    </form>
</body>
</html>
