﻿body
{
    font-family: Verdana;
    font-size: 9pt;
    min-width: 950px;
    height:100%;
    width:auto;
    /*
    color:White;
    background-color:Black;*/
}

h2
{
    font-size:14.667;
}

h3
{
    font-size:12;    
}

h4
{
    font-size:11;    
}

a
{
    color: black;
    text-decoration: none;
}

a:visited
{
    color: Gray;
    text-decoration: none;
}

a:hover
{
    color: blue;
    text-decoration: none;
}

.tabelWaterIcons
{
   background-color:white;
   /*border-style:solid;
   border-width:1px;*/
}