﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="AirWatch.CloudService.WebRole.Login" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Login ID="Login1" runat="server" 
        InstructionText="Please log in to manage AirWatch Azure Tables"
        DestinationPageUrl="~/Admin/TableStorageConsole.aspx">
        </asp:Login>
    </div>
    </form>
</body>
</html>
