﻿body
{
    font-family: Verdana;
    font-size: 9pt;
    height:100%;
    background-color:Black;
	color:White;
}

#banner
{
    height: 67px;
	background-image: url('../AspNetVisualAssets/BannerBackground.jpg');
	background-repeat: repeat-x;
	color: White;
}
#eoeLogo
{
	float: left;
	padding-top:7px;
	padding-left:10px;
	height:60px; 
	width:274px;
}
.eeaLogo
{
    height:35px;
    width:232px;
    padding-top:2px;
    border:none; 
    float:right;
}

.content
{
	margin-top:10px;
}

.intro
{		
	float:left;
	width:590px;
	margin-right:10px;
}

.intro ul li
{
	list-style-type:square;			
}

.platformImage
{
	float:left;
	width:485px;
	overflow:visible;
}

.embed ul li
{
	list-style-type:square;
}

.indent1
{
	margin:5px 0 0 20px;
}

.indent2
{
	margin:5px 0 0 40px;
}

.indent3
{
	clear:both;
	margin:5px 0 0 61px;
}

.indent4
{
	margin:5px 0 0 96px;
}

.paramRow
{
	clear:both;
	margin:0px 0px 0px 100px;
}

.paramCol1
{
	width:100px;
	float:left;
	margin:5px 5px 5px 5px;
}
.paramCol2
{
	float:left;
	width:100px;
	margin:5px 5px 5px 5px;
}
.paramCol3
{
	float:left;
	width:300px;
	margin:5px 5px 5px 5px;
}