﻿*
{
	margin: 0;
	padding: 0;
}

html 
{
    max-height:100%;
    overflow:hidden;
}

body
{
    font-family: Verdana;
    font-size: 9pt;
    min-width: 950px;
    height:100%;
}

a
{
    color: White;
    text-decoration: none;
}
a:visited
{
    color: White;
    text-decoration: none;
}
a:hover
{
    color:#dcdcdc;
    text-decoration: none;
}


/*banner layout*/
#banner
{
    height: 67px;
	background-image: url('../AspNetVisualAssets/BannerBackground.jpg');
	background-repeat: repeat-x;
	color: White;
}
#eoeLogo
{
	float: left;
	padding-top:7px;
	padding-left:10px;
	height:60px; 
	width:274px;
}

.spacer
{
	height: 33%;
}

.contentmiddle
{
	height: 64%;
	padding-top:0px;
}


#contentRightPlaceholder
{
    float:right;
    padding-right:10px;
	padding-top:5px;
	padding-bottom:10px;
	height:15px;
	text-align: right;
}
.languageLinks
{ 
}
.LanguageSelect
{
    margin-right:10px;
    height:20px;
    color:Gray;

}
.eeaLogo
{
    height:35px;
    width:232px;
    padding-top:2px;
    border:none; 
    float:right;
}

/*Eye on Earth Conrols*/
#eoeControls
{
    width:100%;
    height: 40px;
    background-color:#222222;
    font-family: Verdana;
    font-size: 9pt;
    color: White;
}
#searchControl
{
    height:30px;
    float:left;
    padding-top: 9px;
    padding-left: 5px;
    padding-right: 5px;
}
.searchControlButton
{
	cursor: pointer;
	display:inline;
	vertical-align: bottom;
	float:left;
}
#stationViews
{
    height:30px;
    float:left;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 10px;
}
#userViews
{
  float:left;
  height:30px;
  padding-top: 12px;
  padding-left: 5px;  
}
#heatMap
{
  float:left;
  height:30px;
  padding-top: 14px;
  padding-left: 10px;
}
.pushPin
{
    float:left;
    height:30px;
    padding-left:40px;
    padding-top:6px;
    cursor:pointer;
}
.pushPinControlText1
{
    float:left;
    padding-top:9px;
    padding-left:4px;
    height:30px;
}
.deleteAll
{
    float:left;
    height:30px;
    padding-left:10px;
    padding-top:8px;
    cursor:pointer;
}
.pushPinControlText2
{
    float:left;
    padding-top:9px;
    padding-left:4px;
    height:30px;
}
.changeLanguage
{
    float:left;
    height:30px;
    padding-top:5px;
    
}
.test1
{
    float:left;
    height:30px;
    padding-top:5px;
}




/*map layout*/

#mapContainer
{
    position:absolute;
    width:100%;
    height:100%;
    z-index:-1;
}
.map
{
    -moz-user-select: none;
    position:absolute;
    vertical-align:top;
    z-index:-1;

}

.mapKeyContainer
{
    position: absolute;
    vertical-align: bottom;
    z-index: 1;
    height: 44px;
    color: White;
    padding: 8px;
    bottom: 0px;
    left: 80px;
    width: 100%;
	/* filter: alpha(opacity=70); */
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	/* opacity: 0.7; */
}

.mapKeySpan
{
    position: relative;
    vertical-align: middle;
    color: White;
    float: left;
    padding: 4px;
    padding-right: 20px;
    height: 44px;
    background-color: Black;
}

.mapKeyText
{
    color: #C3C3C3;
}

.semiTransparent {
	/* filter: alpha(opacity=70); */
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	/* opacity: 0.7; */
}

.pushpinTitleDiv
{
    font-weight: bold;
}
.pushpinDescriptionDiv
{
}
.newPushpinDiv
{
    position: absolute;
    top: 245px;
    left: 0px;
    cursor: pointer;
    z-index: 100;
}

.LocationSelect
{
	background-color: #FAFAFA;
	border-width: 1px;
	border-color: Black;
	font-size: smaller;
	cursor: pointer;
	overflow: hidden;
}

.watermarked
{
    padding: 2px 0 0 2px;
    background-color: #F0F8FF;
    color: gray;
}


.horizontalList
{
      list-style-type:none;
      white-space:nowrap;
}

.horizontalList li
{
      display:inline;
}

.horizontalList
{
	list-style-type:none;
	white-space:nowrap;
}

.horizontalList li
{
	display:inline;
}

/* General dropdown styles */       
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; float:left;}
/* DT styles for sliding doors */
.dropdown dt a {background:#ffffff;
    display:block; padding-right:20px; border:1px solid Gray; width:150px;}
.dropdown dt a span {cursor:pointer; display:block; padding:5px;}
/* UL styles */
.dropdown dd ul 
{
    background:#ffffff none repeat scroll 0 0; 
    display:none;
    list-style:none; 
    padding:0px 0px; 
    position:absolute; 
    left:-2px; 
    top:8px; 
    width:auto; 
    min-width:158px;
    border: 1px #aaa solid;
}
.dropdown span.value 
{ 
    display:none;
}
.dropdown dd ul li a 
{
    padding:5px; 
    display:block;
    color: #000;
}

.dropdown dd ul li a:hover
{
    color: #000;
    background-color: #ccc;
}

#SearchLocationTextBox
{
    font-family: Verdana !important;
    font-size: 9pt;
}

#stationViews select, #userViews select
{
    font-family: Verdana;
    font-size: 9pt;
}