﻿.pushpinTable
{
}

.PushpinContainer
{
    width: 322px;
    height: 205px;
    padding: 4px;
}

.PushpinMainBody
{
    position: absolute;
    top: 32px;
    background: black;
    width: 322px;
    padding: 4px;
    height: 156px;
}

.PushpinLeft
{
    position: absolute;
    width: 158px;
    float: left;
    padding-right: 4px;
    border-right: thin dashed white;
    height: 155px;
    color: White;
}

.PushpinRight
{
    position: absolute;
    width: 152px;
    float: right;
    padding-left: 4px;
    padding-right: 4px;
    height: 155px;
    color: White;
    left: 167px;
}

.PushpinBottomIcon
{
    position: absolute;
    width: 152px;
    float: left;
    padding-left: 4px;
    height: 24px;
    bottom: -4px;
    vertical-align: top;
    left: 70px;
    clear: both;
}

.PushpinToolbar
{
    background-color: #2E2D2D;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 330px;
    height : 32px;
}

.PushpinDebugInfo
{
    float: left;
    position: absolute;
    left: 100px;
    z-index: 501;
    color: Green;
    font-size: 6pt;
    top: 22px;
}

.PushpinStationInfo
{
    float: left;
    position: absolute;
    left: 87px;
    z-index: 502;
    color: White;
    top: 10px;
}

.StationAddressLabel
{
    position: absolute;
    float: left;
    vertical-align: middle;
    color: Gray;
    padding-bottom: 2px;
    width: 148px;
}

.PushpinContainerLink
{
    cursor:pointer;
    color: #FFFFFF;
}

.TagCloud
{
    color: #FFFFFF;
    text-align:left;
    vertical-align:middle;
}

.ReadingBar
{
    width: 25px;
}
.PushPinHomeView
{
    background-color: #000000 !important;   
    text-align: left;
}

.BarChartAlign
{
    vertical-align:  bottom;
}

.FlyOutHeaderText
{
    font-size: 10pt;
}

.FlyOutRatingText
{
    font-size: 12pt;
    text-transform:uppercase;
    white-space: nowrap;
}
.FlyOutBottomPadding
{
    padding-bottom: 4px;
}

.NearestStationText
{
    color : White !important;
}

.ero-body
{
    width: 350px !important;
    background-color: #000000 !important;
}

.ero-previewArea
{
    border-bottom: #000000 0px solid !important;
    background-color: #000000 !important;
}

.ero-leftBeak .ero-beak
{
    display: none !important;
}

.ero-rightBeak .ero-beak
{
    display: none !important;
}

.TagCloud-Highest {
    font-size:20px;
    font-weight:900;
}

.TagCloud-Medium {
    font-size:16px;
    font-weight:500;
}

.TagCloud-High {
    font-size:18px;
    font-weight:900;
}

.TagCloud-Lowest {
    font-size:8px;
    font-weight:100;
}

.TagCloud-Low {
    font-size:12px;
    font-weight:200;
}

.TagCloud-UltraLow{
    font-size:5px;
    font-weight:100;
}

.customInfoBox-body
{
    position: relative;
    top: -1px;
    left: -1px;
    padding: 0px;
    border: 1px solid #FFFFFF;
    width: 330px !important;
    height: 215px !important;
    color: White !important;
    background-color: #000000 !important;   
}

.tooltip
{
    display: none;
    position:absolute;
    z-index: 9999;
    font-size:10px;
    background-color: Gray;
}

.undefined
{
    position:absolute;
}