﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="WebRole1._Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Azure Mobile Web Gateway (Redfort)</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    Azure Mobile Web Gateway (Redfort)
    </div>
    <div>
    Build #010 - thurs - 1:05am
    </div>
    </form>
</body>
</html>
