﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="StarControl.ascx.cs" 
Inherits="AirWatch.CloudService.WebRole.AspNetUserControls.StarControl" %>

<asp:PlaceHolder runat="server" id="StarPlaceholder" />